.error {
    color: red;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
.notif {
    color: green;
    background: lightgrey;
    font-size: 20px;
    border-style: solid;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
  }
.blogStyle {
    color: rgb(0, 92, 128);
    background: lightseagreen;
    border-style: solid;
    border-radius: 5px;
    margin-bottom: 10px;
}